In [44]:
#43 리스트 두 개의 공통된 원소의 리스트를 반환하기
def common_items(seq1, seq2, reverse = False):
    if type(seq1) in [list, str, tuple] and type(seq2) in [list, str, tuple]:
        arr = []
        if reverse == False:
            for char in seq1:
                if char in seq2:
                    arr.append(char)
                arr = set(arr)
                arr = list(arr)
                arr = sorted(arr)
            return arr
        else:
            rev_arr = []
            for char in seq1:
                if char in seq2:
                    arr.append(char)
                arr = set(arr)
                arr = list(arr)
            rarr = reversed(arr)
            for rev_char in rarr:
                rev_arr.append(rev_char)
            return rev_arr

In [45]:
print(common_items('abracadabra', 'surisurimasuri'))
print(common_items((1, 2, 3, 4), (2, 3, 5, 3, 1)))
print(common_items('abracadabra', 'surisurimasuri', True))
print(common_items([42, 1024, 23], [6, 28, 496]))
print(common_items([2, 3, 5, 7], [1, 1, 2, 3, 5, 8]))
print(common_items([2, 3, 5, 7], [1, 1, 2, 3, 5, 8], False))
print(common_items([2, 3, 5, 7], (1, 1, 2, 3, 5, 8)))

['a', 'r']
[1, 2, 3]
['r', 'a']
[]
[2, 3, 5]
[2, 3, 5]
[2, 3, 5]

In [137]:
#44 동명이인 학생 찾기
def same_name(name_list):
    dit = {}
    name_arr = []
    for i in range(len(name_list)):
        dit[name_list[i]] = name_list
    for name in dit.keys():
        lst = list(dit.values())[0]
        lst.remove(name)
        del_lst = lst
        if name in del_lst:
            name_arr.append(str(name))
    if len(name_arr) == 0:
        return 'There is no student having the same name.'
    else:
        return name_arr

In [138]:
list1=['Alice','Bob','Jane']
list2=['Alice','Bob','Jane','Tom','Bob','Tom']
print(same_name(list1))
print(same_name(list2))

There is no student having the same name.
['Bob', 'Tom']

In [140]:
#45 단어의 출현 횟수
def dic(string):
    arr = []
    split_list = string.split(' ')
    lst = set(split_list)
    lst = list(lst)
    for char in lst:
        arr1 = []
        cnt = split_list.count(char)
        if cnt >= 2:
            arr1.append(char)
            arr1.append(cnt)
            arr1 = tuple(arr1)
            arr.append(arr1)
    return arr

In [192]:
#46 성적정리
def print_scores(test_scores, course_titles, student_name):
    if student_name not in test_scores.keys():
        print('There is no student named ', student_name, '.', sep = '')
    else:
        lst = list(test_scores.keys())
        for name in lst:
            if student_name == name:
                if len(course_titles) == len(test_scores[name]):
                    print(name, ':', sep = '')
                    for num in range(len(course_titles)):
                        print('    ', course_titles[num], ': ', test_scores[name][num], sep = '')
                    print('    Average: ', sum(test_scores[name])/len(test_scores[name]), sep = '')

In [193]:

course_titles = ['Linear Algebra', 'Cell Biology', 'Programming']
midterm_scores = {
    'Alice': [62, 60, 77],
    'Bob': [84, 88, 87],
    'Carol': [88, 88, 97],
    'Chuck': [92, 71, 93],
    'Craig': [81, 89, 72],
    'Dan': [79, 100, 97],
    'Erin': [76, 72, 65],
    'Eve': [69, 84, 67],
    'Faythe': [66, 60, 70],
    'Frank': [88, 76, 64],
    'Grace': [66, 77, 92],
    'Heidi': [93, 93, 82],
    'Mallory': [77, 89, 82],
    'Oscar': [67, 63, 67],
    'Peggy': [70, 81, 86],
    'Sybil': [96, 94, 62],
    'Trent': [67, 66, 61],
    'Trudy': [85, 74, 90],
    'Victor': [82, 67, 94],
    'Walter': [67, 84, 86],
    'Wendy': [97, 92, 66]
}

print_scores(midterm_scores, course_titles, 'Alice')
print_scores(midterm_scores, course_titles, 'Oscar')
print_scores(midterm_scores, course_titles, 'Emma')

Alice:
    Linear Algebra: 62
    Cell Biology: 60
    Programming: 77
    Average: 66.33333333333333
Oscar:
    Linear Algebra: 67
    Cell Biology: 63
    Programming: 67
    Average: 65.66666666666667
There is no student named Emma.

In [4]:
#47 전화번호 추가
def number_adder(num_list, name, num):
    lst = list(num_list.keys())
    string = 'hyhan is already in num_list.'
    if name in lst:
        return string.replace('hyhan', name)
    else:
        num_list[name] = num
    return num_list

number_list = {'홍길동': '010-1234-5678'}

# if 구문을 지우지 마시오.
if __name__ == '__main__':
    name = input('Enter a name : ')
    num = input('Enter the phone number : ')
    print(number_adder(number_list, name, num))

Enter a name : 2
Enter the phone number : 1
{'홍길동': '010-1234-5678', '2': '1'}

In [209]:
n = {}
n['a'] = 1
n['b'] = 2
print(n)

{'a': 1, 'b': 2}